<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withTalk.server.repository.ChatRoomMapper">
	<resultMap id="chatRoomResultMap"
		type="com.withTalk.server.model.ChatRoom">
		<result column="SEQUENCE_NO" property="sequenceNo" />
		<result column="USER_COUNT" property="userCount" />
		<result column="TYPE" property="type" />
	</resultMap>

	<sql id="whereSql">
		<where>
			<if test="sequenceNo != null and sequenceNo != ''">
				AND SEQUENCE_NO = #{sequenceNo}
			</if>
			<if test="userCount != null and userCount != ''">
				AND USER_COUNT = #{userCount}
			</if>
			<if test="type != null and type != ''">
				AND TYPE = #{type}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="com.withTalk.server.model.ChatRoom">
		INSERT INTO CHATROOM
		VALUES (
		CHATROOM_SEQ.NEXTVAL
		, #{userCount}
		, #{type}
		)
		<selectKey keyProperty="sequenceNo" resultType="int" order="AFTER">
			SELECT CHATROOM_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="select" parameterType="com.withTalk.server.model.ChatRoom" resultMap="chatRoomResultMap">
        SELECT *
        FROM CHATROOM
        <include refid="whereSql" />
    </select>

	<select id="selectAll" parameterType="com.withTalk.server.model.ChatRoom" resultMap="chatRoomResultMap">
		SELECT *
		FROM CHATROOM
	</select>

	<select id="selectNo" resultType="int">
		SELECT CHATROOM_SEQ.CURRVAL
		FROM DUAL
	</select>
	
	<select id="test" resultType="int">
		SELECT CHATROOM_SEQ.NEXTVAL
		FROM DUAL
	</select>
	
	<update id="updateCount"
		parameterType="com.withTalk.server.model.ChatRoom">
		UPDATE CHATROOM
		SET
		USER_COUNT=(
		SELECT COUNT(*)
		FROM JOIN_CHATROOM
		WHERE CHATROOM_NO=#{sequenceNo}
		)
		WHERE SEQUENCE_NO=#{sequenceNo}
	</update>
	
	<select id="selectCount"
		parameterType="com.withTalk.server.model.ChatRoom"
		resultType="int">
		SELECT USER_COUNT
		FROM CHATROOM
		WHERE SEQUENCE_NO=#{sequenceNo}
	</select>
	
	<delete id="delete"
		parameterType="com.withTalk.server.model.ChatRoom">
		DELETE FROM CHATROOM
		WHERE SEQUENCE_NO=#{sequenceNo}
	</delete>
</mapper>