<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withTalk.server.repository.JoinChatRoomMapper">
	<resultMap id="joinChatRoomResultMap"
		type="com.withTalk.server.model.joinChatRoom">
		<result column="SEQUENCE_NO" property="sequenceNo" />
		<result column="CHATROOM_NAME" property="chatRoomName" />
		<result column="JOIN_TIME" property="joinTime" />
		<result column="CHATROOM_NO" property="chatRoomNo" />
		<result column="MEMBER_ID" property="memberId" />
	</resultMap>

	<sql id="whereSql">
		<where>
			<if test="sequenceNo != null and sequenceNo != ''">
				AND SEQUENCE_NO = BINARY #{sequenceNo}
			</if>
			<if test="chatRoomName != null and chatRoomName != ''">
				AND CHATROOM_NAME = BINARY #{chatRoomName}
			</if>
			<if test="joinTime != null and joinTime != ''">
				AND JOIN_TIME = BINARY #{joinTime}
			</if>
			<if test="chatRoomNo != null and chatRoomNo != ''">
				AND CHATROOM_NO = BINARY #{chatRoomNo}
			</if>
			<if test="memberId != null and memberId != ''">
				AND MEMBER_ID = #{memberId}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="com.withTalk.server.model.JoinChatRoom">
		INSERT INTO JOINCHATROOM
		VALUES (
		JOINCHATROOM_SEQ.NEXTVAL
		, #{chatRoomName}
		, #{joinTime}
		, #{chatRoomNo}
		, #{memberId}
		)
	</insert>
	
	<select id="select" parameterType="com.withTalk.server.model.JoinChatRoom" resultMap="joinChatRoomResultMap">
        SELECT *
        FROM JOINCHATROOM
        <include refid="whereSql" />
    </select>
    
    <select id="selectAll"
    	resultMap="joinChatRoomResultMap">
    	SELECT
    	SEQUENCE_NO
    	, CHATROOM_NAME
    	, JOIN_TIME
    	, CHATROOM_NO
    	, MEMBER_ID
    	FROM JOINCHATROOM
    </select>
    
    <select id="selectMemberByRoomId" parameterType="com.withTalk.server.model.ChatRoom"
    	resultType="String">
    	SELECT
    	SEQUENCE_NO
    	, CHATROOM_NAME
    	, JOIN_TIME
    	, CHATROOM_NO
    	, MEMBER_ID
    	FROM JOINCHATROOM
    	WHERE
    	CHATROOM_NO = #{sequenceNo};
    </select>
</mapper>